@import '../variables';

.paginationContainer {
  text-align: center;
}

.paginationRoot, .pagination {
  height: 30px;
  list-style: none;
  padding: 0;
  display: inline-block;
}

.shipList {
  margin-bottom: 25px;
}

.pagination li,
.pagination span,
.paginationRoot li,
.paginationRoot span {
  height: 100%;
  line-height: 30px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.paginationRoot:first-child {
  border-left: 0;
}

.paginationRoot > li {
  margin-left: 10px;
  margin-right: 10px;
}

.pageActive {
  border-bottom: 2px solid;
  border-bottom-color: $brand-primary;
}

.paginationRoot {
  margin-top: 0;
}

.pagination, .paginationRoot a {
  text-decoration: none;
  color: #2196F3;
}
