@import '../../../variables';

.nameBar, .sectionBar {
  background-color: $brand-primary;
  color: #fff;
  overflow: hidden;
  padding: 10px;
}

.sectionBar {
  margin-top: 20px;
}

.imageCol, .infoCol {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0;
}

.imageCol {
  width: 218px;
  height: 300px;
  float: left;
}

.infoCol {
  width: calc(100% - 218px);
  float: right;
}

.imageCol > img {
  width: 100%;
  height: auto;
}

.nameRight {
  float: right;
}

.equipment, .stats {
  margin-top: 10px;
}

.equipment > h3 {
  margin-top: .8rem;
}


@media (max-width: 767px) {
  .imageCol {
    font-size: 20px;
    width: 100%;
    height: 300px !important;
    overflow-y: hidden;
    padding-right: 15px;
  }
  .nameBar > .nameRight {
    float: left;
  }
  .infoCol {
    width: 100%;
    padding-left: 15px;
  }
}

@media (max-width: 520px) {
  .imageCol {
    height: 200px !important;
  }
}
