@import '../../../variables';

.nameBar, .sectionBar {
  background-color: $brand-primary;
  color: #fff;
  padding: 10px;
}

.sectionBar {
  margin-top: 20px;
}

.imageCol > img {
  width: 100%;
  height: auto;
}

.nameRight {
  float: right;
}

.equipment, .stats {
  margin-top: 10px;
}


@media (max-width: 767px) {
  .imageCol {
    font-size: 20px;
    width: 100%;
    height: 300px !important;
    overflow-y: hidden;
    padding-right: 15px;
  }
  .infoCol {
    padding-left: 15px;
  }
}

@media (max-width: 520px) {
  .imageCol {
    height: 200px !important;
  }
}
